<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!-- 组件就是自定义的标签，其中集成了大量可以服用的底层标签 -->
        <my-button></my-button>
        <!-- 可以复用，每个标签的数据（data）是独立的 -->
        <my-button></my-button>
        <my-button></my-button>
        <!-- 组件命名：用到根组件上的其他组件，只能以短划线形式命名，不支持驼峰，比如<MyButton>，但是作为其他组件的子组件存在时就支持 -->
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript">
        // 全局组件注册用Vue.component
        Vue.component('my-button', {
            // data是组件携带的数据，每个标签的data是独立的
            // data必须以函数形式呈现（和Vue对象不同）
            data: function () {
                return {
                    count: 0
                }
            },
            // template是组件的模板，由若干标签构成
            // 注意：必须有且只有一个根元素
            // 第一种写法
            // template: '<button @click="count++">点击了{{count}}次</button>',
            // 第二种写法（和methods的函数结合）
            // template: '<button @click="handle()">点击了{{count}}次</button>',
            // 第三种写法：模板字符串
            template: `
                <button @click="handle()">点击了{{count}}次</button>
            `,
            
            // methods是组件使用的自定义方法
            methods: {
                handle:function(){
                    this.count++;
                }
            }
        });

        var vm = new Vue({
            el: '#app',
            data: {

            }
        });
    </script>


</body>

</html>