<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <hello-world></hello-world>

    </div>

    <script>
        // 局部组件直接用var定义
        var HelloWorld = {
            data: function(){
                return {
                    msg: 'HelloWorld'
                }
            },
            template: `<div>{{msg}}</div>`
        }

        // 局部组件只能用于注册它的父组件内部，不能用于全局注册的组件内部
        // 全局组件哪里都可以用
        var vm = new Vue({
            el: '#app',
            data: {

            },
            components: {
                'hello-world': HelloWorld
            }
        });

    </script>

</body>

</html>