<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 如果父组件想往子组件传递数据： -->
    <div id="father">
        <!-- 第一种方式：通过属性传入 -->
        <child my_property="父组件传入子组件的值1"></child>
        <!-- 第二种方式：属性传入+属性绑定 -->
        <child :my_property='father_msg'></child>
    </div>

    <script>

        Vue.component('child', {
            // 子组件如何接收：自定义属性（无论哪种方式都要用到）
            // 可以传递多个
            props: ['my_property'],
            data: function () {
                return {
                    msg: '子组件自己的数据'
                }
            },
            // 然后就可以在子组件内部，把props当成自己的data使用
            template: `<div>{{msg}}-------------{{my_property}}</div>`
        })

        var vm = new Vue({
            el: '#father',
            data: {
                father_msg: '父组件传入子组件的值2'
            }
        });

    </script>

</body>

</html>