<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- JS一共五种数据类型：
        1.number
        2.boolean
        3.string
        4.object
        5.array
    -->

    <div id="father">

        <!-- 注意：使用属性绑定传入的时候，string/object/array必须引用，boolean/number可以不引用直接赋值 -->
        <child :pstr="str" :pboo=true :pnum=12 :pobj="obj" :parr="arr"></child>
    </div>



    <script>

        Vue.component('child', {

            props: ['pstr', 'pboo', 'pnum', 'pobj', 'parr'],

            template: `<div>
                <div>{{pstr}}</div>
                <div>{{pboo}}</div>
                <div>{{pnum}}</div>
                <ul>
                    <li :key='index' v-for="(item,index) in parr">{{item}}</li>
                </ul>
                <div>{{parr.name}}</div>
                </div>`
        })

        var vm = new Vue({
            el: '#father',
            data: {
                str: "hhhhhhh",
                obj: {
                    name: "feh",
                    age: 24
                },
                arr: ["apple", "tree", "moo"]
            }
        });

    </script>

</body>

</html>