<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 兄弟组件的传值依靠注册中心 -->
    <div id="father">
        <tom></tom>
        <jerry></jerry>
        <button @click="destroy">销毁事件</button>

    </div>

    <script>
        // 现在模拟一个场景：Tom给Jerry互相传值

        // 定义一个新的Vue对象作为中心传值
        // 这个对象除了作为注册中心以外什么也不用做
        var hub = new Vue();

        // 下面定义两个平级的兄弟组件
        Vue.component('tom', {
            data: function () {
                return {
                    num: 0
                }
            },
            template: `
            <div>
                <div> tom {{num}} </div> <br>
                <button @click="handle">给Jerry传值</button> <br>
            </div>
            `,
            methods: {
                // 一旦点击tom自带的按钮，就触发给Jerry发消息这个操作，$emit的作用就是触发
                handle: function () {
                    hub.$emit('to-jerry', 1);
                }
            },
            mounted: function () {
                // 监听来自Jerry的to-tom事件，一旦发生，就执行操作
                hub.$on('to-tom', (val) => {
                    this.num += val;
                })
            }
        })

        Vue.component('jerry', {
            data: function () {
                return {
                    num: 0
                }
            },
            template: `
            <div>
                <div> jerry {{num}} </div> <br>
                <button @click="handle()">给Tom传值</button> <br>
            </div>
            `,
            methods: {
                handle: function () {
                    hub.$emit('to-tom', 2);
                }
            },
            mounted: function () {
                // 监听事件
                hub.$on('to-jerry', (val) => {
                    this.num += val;
                })
            }
        })

        var vm = new Vue({
            el: '#father',
            data: {
          
            },
            methods: {
                // 销毁事件
                destroy: function () {
                    hub.$off('to-tom');
                    hub.$off('to-jerry');
                }
            }
        });

    </script>

</body>

</html>