<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <!-- 作用域插槽：期望在父组件内对子组件插槽内容进行加工时 -->
    <div id="father">

        <my-box :sonlist="fatherlist">
            <!-- template标签内，用slot-scope属性拿到当前插槽的作用域（命名随意） -->
            <template slot-scope="thisSlot">
                <!-- 再通过自定义属性来拿到具体的slot -->
                <strong>{{thisSlot.myslot}}</strong>
            </template>
        </my-box>
    </div>

    <script>

        Vue.component('my-box', {
            props: ["sonlist"],
            template: `
            <ul>
                <li v-for='item in sonlist'>
                    <!-- 注意自定义属性的值必须和item一致 -->
                    <slot :myslot='item'>{{item}}</slot>
                </li>
            </ul>
            `
        })

        var vm = new Vue({
            el: '#father',
            data: {
                fatherlist: ["apple", "orange", "pear"]
            }
        });

    </script>

</body>

</html>