<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="mask">
        <img src="./image\prev.png" @click="prev" v-show="index>0">
        <!-- 属性里引用data数据直接写名称，不用{{}}占位符 -->
        <img :src="imgSrc[index]">
        <img src="./image\next.png" @click="next" v-show="index<imgSrc.length-1">
    </div>

    <script>
        var app = new Vue({
            el: "#mask",
            data: {
                isActive: false,
                imgSrc: [
                    "./image/00.jpg",
                    "./image/01.jpg",
                    "./image/02.jpg",
                    "./image/03.jpg",
                    "./image/04.jpg",
                    "./image/05.jpg",
                    "./image/06.jpg",
                    "./image/07.jpg",
                    "./image/08.jpg",
                    "./image/09.jpg",
                ],
                index: 1
            },
            methods: {
                prev: function () {
                    this.index--;
                },
                next: function () {
                    this.index++;
                }
            }
        })
    </script>

</body>

</html>