body{
    background-color: blanchedalmond;
}

#app{
    height: 80px;
    width: 480px;
    margin: 200px auto;
}

#counter{
    margin:5px;
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 4px #adadad;
    border: 1px solid #c7c7c7;
    background-color: #c7c7c7;
}

#counter button{
    width: 150px;
    font-size: 40px;
    color: #ad2a27;
    cursor: pointer;
    border: none;
    outline: none;
    background-color:rgba(0, 0, 0, 0);
}

#counter span {
    font-size: 40px;
    flex: 1;
    text-align: center;
    line-height: 80px;
    font-family:auto;
    background-color: white;
  }
