<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="D:\Front-end Learning\vue\black-horse\2-本地应用\案例1-计数器\counter.css">
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
        <div id="counter">
            <button @click=sub>-</button>
            <span>{{num}}</span>
            <button @click=add>+</button>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data:{
                num:1
            },
            methods:{
                sub:function(){
                    if(this.num<=0){
                        alert("小于0");
                    }else{
                        this.num--;
                    }
                },
                add:function(){
                    if(this.num>=10){
                        alert("大于10");
                    }else{
                        this.num++;
                    }
                }
            }
        })
    </script>

</body>

</html>