<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第一个vue程序</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <!-- vue无法控制el命中元素之外的 -->
    {{ message }}
    
    <!-- vue会管理el选项命中的元素，及其后代元素 -->
    <div id="app">
        <!-- 通过双括号来控制 -->
        {{ message }}
        <span> {{ message }} </span>
    </div>

    <div class="c1">
        {{ message }}
    </div>

    <h2>
        {{ message }}
    </h2>

    <script>
        var app = new Vue({
            // el叫挂载点，利用CSS选择器的思想来控制元素
            // 支持所有CSS选择器，一般都使用ID选择器
            // el: '#app', 
            // el: '.c1',
            el: 'h2',
            // data叫数据对象，决定了代入参数的名称
            data: {
                message: "hello vue!"
            }
        })
    </script>
</body>

</html>