<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
        {{message}}<br>
        <!-- 复杂对象：直接用点引用 -->
        <span> 学校名称：{{school.name}} ；联系电话：{{school.phone}}</span>
        <!-- 数组：直接用[]控制 -->
        <ul>
            <li>{{campus[0]}}</li>
            <li>{{campus[1]}}</li>
            <li>{{campus[2]}}</li>
        </ul>

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            // data叫做数据对象，和挂载点内部的占位符连接
            data: {
                // 普通对象
                message: "学校介绍",
                // 复杂对象
                school: {
                    name: "北工大",
                    phone: "10086"
                },
                // 数组
                campus: ["平乐园校区", "通州校区", "耿丹学院"]
            }
        })
    </script>

</body>

</html>