<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
        <!-- v-text指令的作用是将标签内全部东西替换掉 -->
        <span v-text="message">原来的值</span>
        <!-- 而用差值写法可以只替换掉占位符 -->
        <span>{{message}}</span>
        <!-- v-text指令内部拼接用单引号 -->
        <span v-text="message + '拼接'">原来的值</span>
        <!-- 占位符内部拼接用单双引号均可 -->
        <span>{{message + "双引号" + '单引号'}}</span>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "黑马程序员"
            }
        })
    </script>


</body>

</html>