<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- v-on指令的作用绑定事件 -->
    <div id="app">
        <!-- 当做属性写到标签里，值写函数名即可 -->
        <input type="button" value="v-on单击" v-on:click="doIt">

        <!-- 简写可以直接将v-on:替换成@ -->
        <input type="button" value="简写" @click="doIt">
        <input type="button" value="双击" @dblclick="doIt">
        <input type="button" value="鼠标进入" @mouseenter="doIt">

        <span @click="changeFood">{{food}}</span>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            // 数据用this拿到
            data:{
                food:"西蓝花好吃"
            },
            // 通过methods属性绑定
            methods:{
                doIt:function(){
                    alert("执行成功");
                },
                changeFood:function(){
                    // 只用food是不行的
                    // food+="+1";
                    // 必须要用this.food拿到数据
                    this.food+="+1";
                }
            }
        })
    </script>


</body>

</html>