<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- v-if指令的作用通过布尔表达式控制元素显示 -->
    <!-- 和v-show效果一样，区别在于v-show操纵的是display:none属性，而v-if操纵的是DOM是否存在（频繁操作会影响性能） -->
    <div id="app">
        <button @click="toggleShow">切换显示</button>
        <p v-if="isShow">v-if</p>
        <p v-show="isShow">v-show</p>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isShow: false
            },
            methods: {
                toggleShow: function () {
                   this.isShow = !this.isShow;
                }
            }
        })
    </script>

</body>

</html>