<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .active {
            border: 2px solid red;
        }
    </style>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- v-for的作用是根据数据生成列表结构 -->
    <div id="app">
        <!-- 一般都是和列表结合使用 -->
        <ul>
            <!-- item是占位符，随意命名，in是固定写法，arr就是data里数组的名称 -->
            <!-- 这么写的含义就是将li标签复制若干份，占位数据用arr数组填充 -->
            <li v-for="item in arr">{{item}}</li>
        </ul>

        <ul>
            <!-- 也可以再加一个占位符，叫啥名无所谓，只要位置对应上就行 -->
            <li v-for="(city, index) in arr">{{ index+1 }} 校区：{{city}}</li>
        </ul>

        <!-- 使用复杂对象的时候，支持以.来引用（无论是属性还是占位符，均可） -->
        <h3 v-for="item in vegetables" :title="item.name"> {{item.name}}</h3>
        <!-- 支持实时更新 -->
        <button type="button" @click="add">加蔬菜</button>
        <button type="button" @click="remove">去蔬菜</button>

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                arr: ["北京", "上海", "深圳", "杭州"],
                vegetables: [
                    { name: "西蓝花" },
                    { name: "黄瓜" },
                    { name: "番茄" }
                ]
            },
            methods: {
                add: function () {
                   this.vegetables.push({name:"白菜"});
                },
                remove: function () {
                   this.vegetables.shift();
                }
            }
        })
    </script>

</body>

</html>