<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- v-model指令：双向绑定表单数据与data数据 -->
    <div id="app">
        <!-- 双向绑定：表单元素更新，data也更新 -->
        <input type="text" v-model="message">
        <h2>{{message}}</h2>
        <!-- data更新，表单元素也更新 -->
        <button type="button" @click="change">更改值</button>

    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "西蓝花好吃"
            },
            methods: {
                change: function () {
                    // 更改data值
                    this.message = "番茄好吃";
                }
            }

        })
    </script>


</body>

</html>