body{
    background-color: beige;
}

#app{
    width: 60%;
    height: 400px;
    display: grid;
    background-color: bisque;
    grid-template-rows: 3fr 7fr;
    justify-items:center;
    align-items: center;
    margin: 100px auto 0px auto;
}

#input-container{
    width: 80%;
    height: 50%;
    display:grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 5fr 2fr;
}

#input-box, #search-btn{
    font-size: large;
    font-style: italic;
}

#result-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 150px);
    justify-content: center;
    align-items: center;
    grid-column-gap: auto;
}

.result-item{
    background-color: aquamarine;
    font-size: large;
    text-align: center;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}



