<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天气查询</title>
    <link rel="stylesheet" type="text/css" href="demo.css">

</head>

<body>

    <div id="app">
        <div id="input-container">
            <input id="input-box" type="text" value="北京" @keyup.enter="search" v-model="city">
            <input id="search-btn" type="button" value="搜索" @click="search">
            <div id="tag-container">
                <a @click="useNewCity('北京')">北京</a>
                <a @click="useNewCity('上海')">上海</a>
                <a @click="useNewCity('杭州')">杭州</a>
                <a @click="useNewCity('深圳')">深圳</a>
            </div>
        </div>

        <div id="result-container">
            <div class="result-item" v-for="item in cityResult">
                <div>{{item.day}}</div>
                <div>{{item.date}}</div>
                <div>{{item.tem}}</div>
            </div>
        </div>

    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 引入demo的js文件 -->
    <script type="text/javascript" src="./demo.js"></script>
</body>

</html>