<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>axios+vue</title>
</head>

<body>
    <!-- axios用于向后端发送get或者post请求 -->

    <!-- 引入：官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <input type="button" value="get请求" @click="do_get"> <br>

        <div>{{resp1.data}}</div>

        <input type="button" value="post请求" @click="do_post"> <br>

        <div>{{resp2.data}}</div>

    </div>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                resp1:{},
                resp2:{}
            },
            methods: {
                do_get: function () {
                    // get请求的格式：参数扔到url里
                    axios.get("https://autumnfish.cn/api/joke/list?num=6")
                        .then(function (response) { /*正常返回，拿到response要干什么*/ }, function (err) {/*异常返回错误信息*/ });

                    /*
                        接口1:随机笑话
                        请求地址:https://autumnfish.cn/api/joke/list
                        请求方法:get
                        请求参数:num(笑话条数,数字)
                        响应内容:随机笑话
                    */
                    var that = this;
                    axios.get("https://autumnfish.cn/api/joke/list?num=6")
                        .then(function (response) {
                            console.log(response);
                            that.resp1 = response;
                        }, function (err) {
                            console.log(err);
                        });
                },
                do_post: function () {
                    // post请求的格式：参数作为单独的json对象传入
                    axios.post("https://autumnfish.cn/api/user/reg", { username: "盐焗西兰花" })
                    .then(function (response) { /*正常返回，拿到response要干什么*/ }, function (err) {/*异常返回错误信息*/ });

                    /*
                        接口2:用户注册
                        请求地址:https://autumnfish.cn/api/user/reg
                        请求方法:post
                        请求参数:username(用户名,字符串)
                        响应内容:注册成功或失败
                    */
                    var that = this;
                    axios.post("https://autumnfish.cn/api/user/reg", { username: "盐焗西兰花" })
                    .then(function (response) {
                        console.log(response);
                        that.resp2 = response;
                    }, function (err) {
                        console.log(err);
                    });


                }
            }

        })
    </script>




</body>

</html>