<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- v-model指令：双向绑定表单数据与data数据 -->
    <div id="app">
        <input id="inputbox" type="text" v-model="content" @keyUp.enter="add">

        <br>

        <div v-for="(item,index) in list">{{index+1}}.   {{item}} <button @click="remove(index)">x</button><br></div>

        <div v-if="list.length>0">剩余待办事项：{{list.length}} <button @click="clean">clear</button></div>


    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                content: "",
                list:[]
            },
            methods: {
                add: function () {
                    // 传入参数并删除输入框内容
                    this.list.push(this.content);
                    this.content="";
                },
                remove: function(index){
                    // js中删除数组元素用splice
                    this.list.splice(index,1);
                },
                clean: function(){
                    // 清空
                    this.list=[];
                }
            }

        })
    </script>


</body>

</html>